# Build artifacts
*.o
*.so
sg_enroll

# SDK / library files
*.a
*.dat
*.lic

# Editor / IDE
*.swp
*.swo
*~
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test artifacts
tests/*.o
tests/test_valid_username
tests/test_load_template
tests/test_pam_authenticate
tests/test_sg_enroll

# makepkg artifacts
pkg/
src/
*.pkg.tar.zst
*.pkg.tar.xz

# Archives
*.zip
*.tar.gz
